body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

button:focus, input:focus, a:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65.81197%;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.header__nav li {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 14px;
  text-transform: uppercase;
  width: 80px;
  height: 35px;
  padding: 7px;
}

.header__link:hover {
  border: 1px solid #ffbb42;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffbb42;
  color: #ffffff;
}

.main {
  padding-top: 110px;
  padding-bottom: 345px;
  background-color: #709dca;
  position: relative;
}

.main__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.main__subtitle {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
}

.main__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 93.16239%;
}

.main__button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #ffbb42;
  border-radius: 5px;
  background-color: #ffbb42;
  width: 19.26606%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__button:hover {
  background-color: #f59d00;
  border-color: #f59d00;
  transition: all 0.5s;
}

.main__slider_wrap {
  position: absolute;
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.slider-item__wrap {
  position: absolute;
  width: 445px;
  height: 264px;
  top: 5%;
  right: 15.5%;
}

.slider__item img {
  position: absolute;
  z-index: 1;
  visibility: visible;
}

.slick-active {
  outline: none;
}

.input__name {
  width: 22.01835%;
  max-width: 240px;
  height: 50px;
  padding-left: 40px;
  background-image: url("../img/icon1.png");
  background-repeat: no-repeat;
  background-position: left 15px top 50%;
  border: none;
  border-radius: 5px;
}

.input__email {
  width: 22.01835%;
  max-width: 240px;
  height: 50px;
  padding-left: 40px;
  background-image: url("../img/icon2.png");
  background-repeat: no-repeat;
  background-position: left 15px top 50%;
  border: none;
  border-radius: 5px;
}

.input__phone {
  width: 22.01835%;
  max-width: 240px;
  height: 50px;
  padding-left: 40px;
  background-image: url("../img/icon3.png");
  background-repeat: no-repeat;
  background-position: left 15px top 50%;
  border: none;
  border-radius: 5px;
}

.services {
  padding-top: 205px;
  padding-bottom: 160px;
}

.services__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services__title {
  margin: 0;
  color: #394b50;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.services__subtitle {
  margin: 0;
  color: #394b50;
  font-size: 16px;
  margin-bottom: 90px;
}

.services__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.services__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 45.7265%;
  height: 100%;
}

.services__item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  max-height: 95px;
  margin-bottom: 20px;
}

.services__item_text {
  width: 82.24299%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__item_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #394b50;
}

.services__item_info {
  color: #7b7b7b;
  font-size: 13px;
  margin: 0;
}

.about__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 619px;
  max-height: 619px;
}

.about__image {
  width: 100%;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 619px;
}

.about__item {
  padding-top: 165px;
  padding-bottom: 175px;
  padding-left: 80px;
  max-width: 505px;
}

.about__item_bg {
  width: 100%;
  background-color: #ffc155;
}

.about__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}

.about__button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #e7ad48;
  border-radius: 5px;
  font-size: 14px;
  font-family: Lato, sans-serif;
  height: 45px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__button:hover {
  background-color: #f59d00;
  transition: all 0.5s;
}

.item__container {
  width: 505px;
  max-width: 505px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.your-plan {
  padding-top: 140px;
  padding-bottom: 195px;
  background-color: #e7edf3;
}

.your-plan__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.your-plan__title {
  color: #394b50;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.your-plan__subtitle {
  color: #75888d;
  font-size: 18px;
  margin-bottom: 85px;
}

.your-plan__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.your-plan__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 50px;
  width: 33.33333%;
  border: 1px solid #ccd5df;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 2px 0 2px;
}

.your-plan__card:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  cursor: pointer;
  color: #ffffff;
  background-color: #709dca;
}

.your-plan__card:hover .card__title {
  color: #ffffff;
}

.your-plan__card:hover .card__text {
  color: #ffffff;
}

.your-plan__card:hover .card__price {
  color: #ffffff;
}

.your-plan__card:hover .card__period {
  color: #ffffff;
}

.card__title {
  font-size: 25px;
  color: #818b95;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.card__price {
  font-size: 60px;
  color: #ffbb42;
  font-weight: 800;
  font-family: Lato, sans-serif;
}

.card__period {
  font-size: 20px;
  color: #818b95;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin-bottom: 35px;
}

.card__text {
  text-transform: uppercase;
  font-size: 14px;
  color: #b5bbc1;
  border-top: 1px solid #e2e9f0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85.49223%;
  text-align: center;
}

.card__button {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  width: 130px;
  background-color: #ffbb42;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card__button:hover {
  background-color: #f59d00;
  transition: all 0.5s;
}

.how-it-works {
  padding-top: 155px;
  padding-bottom: 150px;
}

.how-it-works__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.how-it-works__title {
  font-size: 30px;
  color: #394b50;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.how-it-works__subtitle {
  color: #75888d;
  font-size: 18px;
  margin-bottom: 105px;
}

.how-it-works__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.how-it-works__steps {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  margin-bottom: 95px;
}

.how-it-works__steps_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 19.23077%;
  text-align: center;
}

.how-it-works__steps_card:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.how-it-works__steps_card img {
  margin-bottom: 100px;
}

.how-it-works__button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ffbb42;
  font-size: 14px;
  font-family: Lato, sans-serif;
  height: 45px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works__button:hover {
  background-color: #f59d00;
  transition: all 0.5s;
}

.steps_card_title {
  text-transform: uppercase;
  color: #394b50;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.steps_card_text {
  color: #7b7b7b;
  font-size: 13px;
  margin: 0;
}

.arrows-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.happy-clients {
  padding-top: 140px;
  padding-bottom: 160px;
  background-color: #ffc155;
}

.happy-clients__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.happy-clients__title {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.happy-clients__subtitle {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 60px;
}

.happy-clients__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.happy-clients__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.happy-clients__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 48.71795%;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 55px;
}

.happy-clients__card_text {
  width: 63.15789%;
}

.happy-clients__card_message {
  font-size: 13px;
  color: #7b7b7b;
  margin: 0;
  margin-bottom: 30px;
}

.happy-clients__card_author {
  color: #99a9ae;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.happy-clients__card_author span {
  color: #f6772c;
}

.row-1 {
  margin-bottom: 20px;
}

.newsletter {
  padding-top: 155px;
  padding-bottom: 55px;
}

.newsletter__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__title {
  font-size: 30px;
  font-weight: 800;
  color: #394b50;
  text-transform: uppercase;
  margin: 0;
}

.newsletter__subtitle {
  font-size: 16px;
  color: #394b50;
  margin-bottom: 40px;
}

.newsletter__input-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 79.91453%;
  margin-bottom: 50px;
}

.newsletter__input-block_name {
  max-width: 305px;
  width: 27.80749%;
  height: 45px;
  padding: 0;
  padding-left: 45px;
  background-image: url("../img/icon1.png");
  background-repeat: no-repeat;
  background-position: left 15px top 50%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}

.newsletter__input-block_email {
  max-width: 390px;
  width: 36.8984%;
  height: 45px;
  padding: 0;
  padding-left: 45px;
  background-image: url("../img/icon2.png");
  background-repeat: no-repeat;
  background-position: left 15px top 50%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}

.newsletter__input-block_button {
  width: 23.52941%;
  max-width: 220px;
  height: 47px;
  background-color: #ffbb42;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter__input-block_button:hover {
  background-color: #f59d00;
  transition: all 0.5s;
}

.newsletter__map-block {
  width: 100%;
  background-image: url("../img/doted_map.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 40px;
  padding-bottom: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.newsletter__map-block_address-bg {
  width: 285px;
  height: 298px;
  background-image: url("../img/address-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.newsletter__map-block_address-text {
  text-align: center;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.newsletter__map-block_address-text p {
  margin: 0;
  color: #aeb7ba;
  font-size: 13px;
}

.newsletter__map-block .map-block__title {
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.newsletter__map-block .map-block__email {
  font-size: 13px;
  color: #ffbb42;
  text-decoration: none;
}

.footer {
  padding-top: 70px;
  padding-bottom: 55px;
  border-top: 1px solid #e3e7ec;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  width: 61.96581%;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.footer__nav li {
  list-style-type: none;
}

.footer__nav .footer__link {
  text-decoration: none;
  color: #394b50;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  width: 80px;
  height: 35px;
  padding: 7px;
}

.footer__nav .footer__link:hover {
  color: #ffbb42;
  transition: all 0.5s;
}

.footer__tel {
  margin-bottom: 25px;
}

.footer__tel_num {
  color: #394b50;
  font-size: 23px;
}

.footer__social {
  width: 8.54701%;
}

.footer__social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer__social li {
  list-style-type: none;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #709dca;
}

.copyright__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  color: #fff;
  font-size: 13px;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 5px 0;
  }
  .header__nav {
    width: 80.04158%;
  }
  .main {
    padding: 50px 0;
  }
  .main__slider_wrap {
    top: 120%;
    transform: scale(1.2);
  }
  .services {
    padding-top: 500px;
    padding-bottom: 80px;
  }
  .services__subtitle {
    margin-bottom: 45px;
  }
  .about__wrap {
    height: 350px;
  }
  .about .item__container {
    width: 90%;
    margin-bottom: 25px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about__image {
    height: 350px;
  }
  .about__button {
    height: 45px;
  }
  .your-plan {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .your-plan__subtitle {
    margin-bottom: 30px;
  }
  .your-plan__card {
    width: 33%;
    padding: 10px 0;
  }
  .your-plan .card__text {
    width: 80%;
  }
  .how-it-works {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .how-it-works__subtitle {
    margin-bottom: 60px;
  }
  .how-it-works__steps {
    margin-bottom: 50px;
  }
  .happy-clients {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .newsletter {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .newsletter__input-block {
    width: 97.19335%;
  }
  .newsletter__map-block {
    padding-bottom: 150px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__nav {
    width: 75.36383%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .header__nav {
    width: 85%;
  }
  .header__link {
    padding: 3px;
  }
  .main {
    padding: 20px 0;
  }
  .main__subtitle {
    width: 70%;
  }
  .main__inputs {
    width: 100%;
  }
  .main .input__name {
    width: 20%;
  }
  .main .input__email {
    width: 20%;
  }
  .main .input__phone {
    width: 20%;
  }
  .main__slider_wrap {
    top: 115%;
    transform: scale(1.1);
  }
  .services {
    padding-top: 450px;
    padding-bottom: 50px;
  }
  .services__subtitle {
    margin-bottom: 60px;
  }
  .services__row {
    flex-direction: column;
  }
  .services__column {
    width: 85%;
  }
  .services__column:first-child {
    margin-bottom: 25px;
  }
  .services__item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
  }
  .services__item:nth-child(3) {
    margin-bottom: 0;
  }
  .about__item {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
  .about__wrap {
    height: 363px;
  }
  .about__image {
    height: 363px;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about__button {
    height: 45px;
  }
  .your-plan__card {
    width: 32%;
  }
  .your-plan .card__price {
    transform: scale(0.9);
  }
  .your-plan .card__period {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .your-plan .card__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .how-it-works {
    padding-bottom: 30px;
  }
  .how-it-works__subtitle {
    margin-bottom: 30px;
  }
  .how-it-works__steps {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .how-it-works__steps_card {
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    width: 60%;
  }
  .how-it-works__steps_card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }
  .how-it-works__steps_card img {
    margin-bottom: 40px;
  }
  .how-it-works__steps_card:last-child {
    margin-bottom: 0;
  }
  .happy-clients {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .happy-clients__subtitle {
    margin-bottom: 40px;
  }
  .happy-clients__row {
    flex-direction: column;
  }
  .happy-clients__card {
    width: 90%;
  }
  .happy-clients__card:nth-child(1) {
    margin-bottom: 18px;
  }
  .newsletter {
    padding-top: 35px;
  }
  .newsletter__input-block {
    width: 85%;
  }
  .newsletter__input-block_name {
    width: 28%;
  }
  .newsletter__input-block_email {
    width: 28%;
  }
  .newsletter__map-block {
    padding-bottom: 75px;
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .footer__nav {
    width: 85%;
  }
}
