$buttonColor: #ffbb42;

body
    margin: 0 auto
    font-family: 'Open Sans', sans-serif

button, input, a
    &:focus
        outline: none

.container
    padding-left: 15px
    padding-right: 15px
    max-width: 1170px
    margin: 0 auto

.header
    padding-top: 40px
    padding-bottom: 40px

    &__wrap
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &__nav
        display: flex
        flex-direction: row
        align-items: center
        width: 770/1170*100%

        ul 
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            padding: 0
            width: 100%

        li 
            list-style-type: none

    &__link
        text-decoration: none
        color: #a6a6a6
        font-size: 14px
        text-transform: uppercase
        width: 80px
        height: 35px
        padding: 7px
        

    &__link:hover
        border: 1px solid $buttonColor
        border-radius: 5px
        box-sizing: border-box
        background-color: $buttonColor
        color: #ffffff

.main
    padding-top: 110px
    padding-bottom: 345px
    background-color: #709dca
    position: relative

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
    
    &__title
        color: #ffffff
        text-transform: uppercase
        font-size: 35px
        font-weight: 800
        margin: 0

    &__subtitle
        color: #ffffff
        font-size: 16px
        margin: 0
        padding-bottom: 35px
        text-align: center
    
    &__inputs
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 1090/1170*100%

    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        font-size: 14px
        border: 1px solid $buttonColor
        border-radius: 5px
        background-color: $buttonColor
        width: 210/1090*100%
        height: 50px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            border-color: darken($buttonColor,15% )
            transition: all 0.5s

    &__slider_wrap
        position: absolute
        top: 55%
        display: flex
        align-items: center
        justify-content: center
        z-index: 0
        

.slider-item__wrap
    position: absolute
    width: 445px
    height: 264px
    top: 5%
    right: 15.5%

.slider__item 
    img
        position: absolute
        z-index: 1
        visibility: visible

.slick-active 
    outline: none;

.input__name
    width: 240/1090*100%
    // max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon1.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px
    

.input__email
    width: 240/1090*100%
    // max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon2.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px

.input__phone
    width: 240/1090*100%
    // max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon3.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px

.services
    padding-top: 205px
    padding-bottom: 160px

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        margin: 0
        color: #394b50
        font-size: 30px
        text-transform: uppercase
        font-weight: 800

    &__subtitle
        margin: 0
        color: #394b50
        font-size: 16px
        margin-bottom: 90px

    &__row
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        // height: 435px

    &__column
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 535/1170*100%
        height: 100%
        

    &__item
        display: flex
        flex-direction: row
        align-items: start
        justify-content: space-around
        width: 100%
        max-height: 95px
        margin-bottom: 20px


    &__item_text
        width: 440/535*100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        

    &__item_title
        text-transform: uppercase
        font-size: 16px
        font-weight: 700
        color: #394b50

    &__item_info
        color: #7b7b7b
        font-size: 13px
        margin: 0
 
.about

    &__wrap
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        height: 619px
        max-height: 619px
    
    &__image
        width: 100%
        background-image: url('../img/about.png')
        background-repeat: no-repeat
        background-size: cover
        height: 619px
        // max-height: 625px

    &__item
        padding-top: 165px
        padding-bottom: 175px
        padding-left: 80px
        max-width: 505px

    &__item_bg
        width: 100%
        background-color: #ffc155

    &__title
        color: #ffffff
        font-size: 30px
        font-weight: 800
        text-transform: uppercase
        margin-bottom: 30px

    &__text
        color: #ffffff
        font-size: 13px
        margin: 0

    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        border: 1px solid #e7ad48
        border-radius: 5px
        font-size: 14px
        font-family: Lato, sans-serif
        height: 45px
        width: 145px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            transition: all 0.5s

.item__container
    width: 505px
    max-width: 505px
    display: flex
    flex-direction: column
    margin-bottom: 35px

.your-plan
    padding-top: 140px
    padding-bottom: 195px
    background-color: #e7edf3

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        color: #394b50
        font-size: 30px
        font-weight: 800
        text-transform: uppercase
        margin: 0

    &__subtitle
        color: #75888d
        font-size: 18px
        margin-bottom: 85px

    &__items
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 100%

    &__card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        padding-top: 55px
        padding-bottom: 50px
        width: 390/1170*100%
        border: 1px solid #ccd5df
        border-radius: 5px
        background-color: #fff
        margin: 0 2px 0 2px 


        &:hover
            transition: all 0.5s
            transform: scale(1.1)
            cursor: pointer
            color: #ffffff
            background-color: #709dca
            
            .card__title
                color: #ffffff
            
            .card__text
                color: #ffffff
            
            .card__price
                color: #ffffff
            
            .card__period
                color: #ffffff

.card__title
    font-size: 25px
    color: #818b95
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 25px

.card__price
    font-size: 60px
    color: #ffbb42
    font-weight: 800 
    font-family: Lato, sans-serif

.card__period
    font-size: 20px
    color: #818b95
    font-weight: 400
    text-transform: uppercase
    font-family: Lato, sans-serif
    margin-bottom: 35px

.card__text
    text-transform: uppercase
    font-size: 14px
    color: #b5bbc1
    border-top: 1px solid #e2e9f0
    padding-top: 10px
    padding-bottom: 10px
    width: 330/386*100%
    text-align: center

.card__button
    text-transform: uppercase
    text-decoration: none
    color: #ffffff
    font-size: 14px
    height: 40px
    width: 130px
    background-color: $buttonColor
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px

    &:hover
        background-color: darken($buttonColor,15% )
        transition: all 0.5s

.how-it-works
    padding-top: 155px
    padding-bottom: 150px

    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column

    &__title
        font-size: 30px
        color: #394b50
        font-weight: 800
        margin: 0
        text-transform: uppercase

    &__subtitle
        color: #75888d
        font-size: 18px
        margin-bottom: 105px

    &__items
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

        // &_arrows
        //     position: absolute
        //     display: flex
        //     flex-direction: column
        //     align-items: center
        //     justify-content: space-between
        //     height: 130px
        //     width: 730/1170*100%
        //     max-width: 1170px
        //     z-index: 1

        //     &__top
        //         display: flex
        //         flex-direction: row
        //         align-items: center
        //         justify-content: space-between
        //         max-width: 730/1170*100%

    &__steps
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        z-index: 1
        width: 100%
        margin-bottom: 95px

        &_card
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            width: 225/1170*100%
            text-align: center

            &:hover
                transform: scale(1.05)
                transition: all 0.5s

            img 
                margin-bottom: 100px

    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        border-radius: 5px
        background-color: $buttonColor
        font-size: 14px
        font-family: Lato, sans-serif
        height: 45px
        width: 165px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            transition: all 0.5s

.steps_card_title
    text-transform: uppercase
    color: #394b50
    font-size: 20px
    font-weight: 600
    margin-bottom: 25px


.steps_card_text
    color: #7b7b7b
    font-size: 13px
    margin: 0


.arrows-top
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-around

.happy-clients
    padding-top: 140px
    padding-bottom: 160px
    background-color: #ffc155

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        font-size: 30px
        font-weight: 800
        margin: 0
        text-transform: uppercase
        color: #ffffff

    &__subtitle
        font-size: 16px
        color: #ffffff
        margin-bottom: 60px

    &__items
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
    
    &__row
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &__card
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        width: 570/1170*100%
        background-color: #fff
        padding-top: 45px
        padding-bottom: 55px

        &_text
            width: 360/570*100%

        &_message
            font-size: 13px
            color: #7b7b7b
            margin: 0
            margin-bottom: 30px


            // span 
            //     font-size: 30px

        &_author
            color: #99a9ae
            font-size: 14px
            text-transform: uppercase
            margin: 0

            span 
                color: #f6772c
.row-1
    margin-bottom: 20px

.newsletter
    padding-top: 155px
    padding-bottom: 55px

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        // justify-content: space-between

    &__title
        font-size: 30px
        font-weight: 800
        color: #394b50
        text-transform: uppercase
        margin: 0

    &__subtitle
        font-size: 16px
        color: #394b50
        margin-bottom: 40px

    &__input-block
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 935/1170*100%
        margin-bottom: 50px

        &_name
            // max-width: 305px
            width: 260/935*100%
            height: 45px
            padding: 0
            padding-left: 45px
            background-image: url('../img/icon1.png')
            background-repeat: no-repeat
            background-position: left 15px top 50%
            border: 1px solid #cbcbcb
            border-radius: 5px

        &_email
            max-width: 390px
            width: 345/935*100%
            height: 45px
            padding: 0
            padding-left: 45px
            background-image: url('../img/icon2.png')
            background-repeat: no-repeat
            background-position: left 15px top 50%
            border: 1px solid #cbcbcb
            border-radius: 5px

        &_button
            width: 220/935*100%
            max-width: 220px
            height: 47px
            background-color: $buttonColor
            border-radius: 5px
            color: #ffffff
            text-transform: uppercase
            text-decoration: none
            font-size: 14px
            display: flex
            align-items: center
            justify-content: center

            &:hover
                background-color: darken($buttonColor,15% )
                transition: all 0.5s

    &__map-block
        width: 100%
        background-image: url('../img/doted_map.png')
        background-repeat: no-repeat
        background-size: 100%
        padding-top: 40px
        padding-bottom: 220px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column

        &_address-bg
            width: 285px
            height: 298px
            background-image: url('../img/address-bg.png')
            background-repeat: no-repeat
            background-size: cover
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 5px


        &_address-text
            text-align: center
            height: 140px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between

            p   
                margin: 0
                color: #aeb7ba
                font-size: 13px
        
        .map-block__title
            font-size: 15px
            text-transform: uppercase
            color: #ffffff
            margin-bottom: 10px
        
        

        .map-block__email
            font-size: 13px
            color: #ffbb42
            text-decoration: none

.footer 
    padding-top: 70px
    padding-bottom: 55px
    border-top: 1px solid #e3e7ec

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__nav
        width: 725/1170*100%

        ul
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: row
            width: 100%
            padding: 0
        
        li 
            list-style-type: none
        
        .footer__link
            text-decoration: none
            color: #394b50
            font-size: 13px
            text-transform: uppercase
            font-weight: 600
            width: 80px
            height: 35px
            padding: 7px

            &:hover
                color: $buttonColor
                transition: all 0.5s
    &__tel
        margin-bottom: 25px

        &_num
            color: #394b50
            font-size: 23px
            fw700

    &__social
        width: 100/1170*100%

        ul  
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: row
            width: 100%
            padding: 0
            margin: 0

        li 
            list-style-type: none

.copyright  
    padding-top: 15px
    padding-bottom: 15px
    background-color: #709dca

    &__wrap
        display: flex
        align-items: center
        justify-content: center

    &__text
        color: #fff
        font-size: 13px
        margin: 0

@media screen and ( max-width: 992px )
    .header
        padding: 5px 0

        &__nav
            width: 770/962*100%

    .main
        padding: 50px 0

        &__slider_wrap
            top: 120%
            transform: scale(1.2)

        &__slider_bg
    
    .services
        padding-top: 500px
        padding-bottom: 80px

        &__subtitle
            margin-bottom: 45px

    .about

        &__wrap
            height: 350px

        .item__container
            width: 90%
            margin-bottom: 25px

        &__title
            margin-bottom: 15px

        &__item
            padding-top: 30px
            padding-bottom: 30px
        
        &__image
            height: 350px

        &__button
            height: 45px

    .your-plan
        padding-top: 50px
        padding-bottom: 50px

        &__subtitle
            margin-bottom: 30px

        &__card
            width: 33%
            padding: 10px 0

        .card__text
            width: 80%

    .how-it-works
        padding-top: 40px
        padding-bottom: 60px

        &__subtitle
            margin-bottom: 60px

        &__steps
            margin-bottom: 50px

    .happy-clients
        padding-top: 50px
        padding-bottom: 70px

    .newsletter
        padding-top: 60px
        padding-bottom: 0px

        &__input-block
            width: 935/962*100%

        &__map-block
            padding-bottom: 150px

    .footer
        padding-top: 25px
        padding-bottom: 25px

        &__nav
            width: 725/962*100%

@media screen and ( max-width: 768px )
    .title
        font-size: 28px

    .header

        &__nav
            width: 85%

        &__link
            padding: 3px
    .main
        padding: 20px 0

        &__subtitle
            width: 70%

        &__inputs
            width: 100%

        .input__name
            width: 20%
            

        .input__email
            width: 20%
            

        .input__phone
            width: 20%
        
        &__slider_wrap
            top: 115%
            transform: scale(1.1)
    
    .services
        padding-top: 450px
        padding-bottom: 50px

        &__subtitle
            margin-bottom: 60px

        &__row
            flex-direction: column

        &__column
            width: 85%
            
        &__column:first-child
            margin-bottom: 25px

        &__item
            box-shadow: 0 0 15px rgba(0,0,0,0.1)
            border-radius: 5px
            padding: 25px
            margin-bottom: 25px

        &__item:nth-child(3)
            margin-bottom: 0
            
            
        
    .about
        &__item
            padding-top: 15px
            padding-bottom: 30px
            padding-left: 50px
        
        &__wrap
            height: 363px

        &__image
            height: 363px

        &__title
            margin-bottom: 10px

        &__button
            height: 45px
    
    .your-plan
        &__card
            width: 32%
        
        .card__price
            transform: scale(0.9)

        .card__period
            margin-bottom: 20px
            font-size: 18px
        
        .card__title
            margin-bottom: 15px
            font-size: 22px

    .how-it-works
        padding-bottom: 30px
        &__subtitle
            margin-bottom: 30px

        &__steps
            flex-direction: column
            margin-bottom: 25px

        &__steps_card
            margin-bottom: 30px
            box-shadow: 0 0 15px rgba(0,0,0,0.1)
            border-radius: 5px
            padding: 15px
            width: 60%

            &:hover
                transform: scale(1.05)
                transition: all 0.5s
            
            img 
                margin-bottom: 40px

        &__steps_card:last-child
            margin-bottom: 0

    .happy-clients
        padding-top: 25px
        padding-bottom: 50px

        &__subtitle
            margin-bottom: 40px

        &__row
            flex-direction: column

        &__card
            width: 90%

        &__card:nth-child(1)
            margin-bottom: 18px

    .newsletter
        padding-top: 35px

        &__input-block
            width: 85%
        
            &_name
                width: 28%

            &_email
                width: 28%

        &__map-block
            padding-bottom: 75px
    
    .footer
        padding-top: 15px
        padding-bottom: 20px

        &__nav
            width: 85%

@media screen and ( max-width: 576px )
    .title
        font-size: 22px
    
    .subtitle
        font-size: 12px

    .header

        &__nav
            width: 85%

        &__link
            font-size: 10px

    .main

        &__inputs
            flex-direction: column
            width: 

        .input__name
            width: 75%
            margin-bottom: 20px
            

        .input__email
            width: 75%
            margin-bottom: 20px

        .input__phone
            width: 75%
            margin-bottom: 20px

        &__button
            font-size: 12px
            padding: 0  
            width: 132px
            height: 36px

        &__slider_wrap
            top: 105%
            transform: scale(0.85)

    .services
        padding-top: 400px

        &__item

            &_title
                font-size: 14px

            &_info
                font-size: 11px

    .about
        .item__container
            align-items: center

        &__wrap
            height: 276px

        &__item
            display: flex
            flex-direction: column
            align-items: center

        &__text
            font-size: 12px
            text-align: center

        &__image
            display: none

        &__button
            font-size: 12px
            padding: 0  
            width: 132px
            height: 36px

    .your-plan
        padding-top: 25px

        .card__title
            font-size: 16px
            margin-bottom: 0

        .card__price
            transform: scale(0.8)

        .card__period
            font-size: 10px
            margin-bottom: 10px

        .card__text
            font-size: 10px

        .card__button
            margin-top: 10px
            font-size: 12px

    .how-it-works
        padding-top: 20px

        &__steps

            &_card
                padding: 10px

                img 
                    transform: scale(0.8)
                    margin-bottom: 20px

        .steps_card_title
            font-size: 18px
            margin-bottom: 15px
        
        .steps_card_text
            font-size: 12px

        &__button
            transform: scale(0.8)
            font-size: 12px

    .happy-clients
        padding-top: 15px
        padding-bottom: 25px

        &__card
            padding-top: 20px
            padding-bottom: 20px
            img 
                transform: scale(0.8)

            &_message
                font-size: 12px

            &_author
                font-size: 12px
    
    .newsletter
        padding-top: 25px

        &__subtitle
            margin-bottom: 25px

        &__input-block
            flex-direction: column
            margin-bottom: 30px
            width: 100%

            &_name
                width: 70%
                margin-bottom: 20px
            
            &_email
                width: 70%
                margin-bottom: 20px
            
            &_button
                font-size: 12px
                padding: 0  
                width: 132px
                height: 36px

        &__map-block
            padding-top: 0
            padding-bottom: 15px
            height: 350px

            &_address-bg
                transform: scale(0.7)

        &__logo
            transform: scale(0.9)

    .footer
        padding: 0
        padding-bottom: 5px

        &__wrap
            justify-content: space-around
            height: 120px

        &__nav
            width: 90%

        .footer__link
            font-size: 9px

        &__tel
            display: flex
            align-items: center
            margin-bottom: 15px

        &__tel_phone
            transform: scale(0.7)

        &__tel_num
            font-size: 14px
        
        &__social
            width: 15%
            display: flex
            align-items: center

            img 
                transform: scale(0.8)
    .copyright
        padding: 5px

        &__text
            font-size: 10px
            text-align: center

@media screen and ( max-width: 480px )
    .title
        font-size: 20px
    
    .subtitle
        font-size: 10px

    .header

        &__nav
            width: 100%
        
        &__logo
            display: none

    .main

        &__button
            font-size: 12px
            width: 132px
            height: 40px
            padding: 0

        &__slider_wrap
            transform: scale(0.7)
            top: 90%

    .services
        padding-top: 300px

        &__subtitle
            margin-bottom: 20px

    .about
        &__wrap
            height: 253px

        &__item 
            padding: 0
            padding-top: 15px
            padding-bottom: 15px
        
        &__button
            font-size: 12px
            width: 132px
            height: 40px
            padding: 0

    .your-plan
        padding-bottom: 25px

        &__items
            flex-direction: column

        &__card
            width: 70%
            margin-bottom: 25px

        &__card:last-child
            margin-bottom: 0

    .how-it-works

        &__steps_card
            width: 70%

        &__button
            font-size: 12px
            width: 132px
            height: 40px
            padding: 0

    .happy-clients

        &__subtitle
            margin-bottom: 25px

        &__card
            width: 70%
            display: flex
            flex-direction: column
            padding: 0
            padding-bottom: 10px

            &_message
                margin-bottom: 20px

    .newsletter
        padding-top: 15px

        &__input-block
            width: 100%
            margin-bottom: 15px

            &_name
                width: 70%

            &_email
                width: 70%

            &_button
                font-size: 12px
                width: 132px
                height: 40px
                padding: 0
        
        &__map-block
            justify-content: space-around

            &_address-bg
                transform: scale(0.6)
    .footer

        &__wrap
            height: 90px

        &__nav
            width: 100%
            margin-bottom: 10px
            
            ul 
                margin: 5px

        &__link
            font-size: 8px !important

        &__tel_num
            font-size: 12px

    .copyright

        &__text
            font-size: 8px
        

