$buttonColor: #ffbb42;

body
    margin: 0 auto
    font-family: 'Open Sans', sans-serif

button, input, a
    &:focus
        outline: none

.container
    padding-left: 15px
    padding-right: 15px
    max-width: 1170px
    margin: 0 auto

.header
    padding-top: 40px
    padding-bottom: 40px

    &__wrap
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &__nav
        display: flex
        flex-direction: row
        align-items: center
        width: 770/1170*100%

        ul 
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            padding: 0
            width: 100%

        li 
            list-style-type: none

    &__link
        text-decoration: none
        color: #a6a6a6
        font-size: 14px
        text-transform: uppercase
        width: 80px
        height: 35px
        padding: 7px

    &__link:hover
        border: 1px solid $buttonColor
        border-radius: 5px
        box-sizing: border-box
        background-color: $buttonColor
        color: #ffffff

.main
    padding-top: 110px
    padding-bottom: 345px
    background-color: #709dca
    position: relative

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
    
    &__title
        color: #ffffff
        text-transform: uppercase
        font-size: 35px
        font-weight: 800
        margin: 0

    &__subtitle
        color: #ffffff
        font-size: 16px
        margin: 0
        padding-bottom: 35px
    
    &__inputs
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 1090/1170*100%

    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        font-size: 14px
        border: 1px solid $buttonColor
        border-radius: 5px
        background-color: $buttonColor
        width: 210/1090*100%
        height: 50px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            border-color: darken($buttonColor,15% )
            transition: all 0.5s

    &__slider_wrap
        position: absolute
        top: 55%
        display: flex
        align-items: center
        justify-content: center
        z-index: 0
        

.slider-item__wrap
    position: absolute
    width: 445px
    height: 264px
    top: 5%
    right: 15.5%


.slider__item 
    img
        position: absolute
        z-index: 1
        visibility: visible

.slick-active 
    outline: none;



.input__name
    width: 240/1090*100%
    max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon1.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px
    

.input__email
    width: 240/1090*100%
    max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon2.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px

.input__phone
    width: 240/1090*100%
    max-width: 240px
    height: 50px
    padding-left: 40px
    background-image: url('../img/icon3.png')
    background-repeat: no-repeat
    background-position: left 15px top 50%
    border: none
    border-radius: 5px

.services
    padding-top: 205px
    padding-bottom: 160px

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        margin: 0
        color: #394b50
        font-size: 30px
        text-transform: uppercase
        font-weight: 800

    &__subtitle
        margin: 0
        color: #394b50
        font-size: 16px
        margin-bottom: 90px

    &__row
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        height: 435px

    &__column
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 535/1170*100%
        height: 100%
        

    &__item
        display: flex
        flex-direction: row
        align-items: start
        justify-content: space-around
        width: 100%
        max-height: 95px

    &__item_text
        width: 440/535*100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        

    &__item_title
        text-transform: uppercase
        font-size: 16px
        font-weight: 700
        color: #394b50

    &__item_info
        color: #7b7b7b
        font-size: 13px
        margin: 0
 
.about

    &__wrap
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        height: 625px
        max-height: 625px
    
    &__image
        width: 100%
        background-image: url('../img/about.png')
        background-repeat: no-repeat
        background-size: cover
        height: 625px
        // max-height: 625px

    &__item
        padding-top: 165px
        padding-bottom: 175px
        padding-left: 80px
        max-width: 505px

    &__item_bg
        width: 100%
        background-color: #ffc155

        



    &__title
        color: #ffffff
        font-size: 30px
        font-weight: 800
        text-transform: uppercase
        margin-bottom: 30px

    &__text
        color: #ffffff
        font-size: 13px
        margin: 0
        margin-bottom: 30px
        


    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        border: 1px solid #e7ad48
        border-radius: 5px
        font-size: 14px
        font-family: Lato, sans-serif
        height: 45px
        width: 145px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            transition: all 0.5s

.item__container
    height: 285px
    max-height: 285px
    width: 505px
    max-width: 505px
    display: flex
    flex-direction: column

.your-plan
    padding-top: 140px
    padding-bottom: 195px
    background-color: #e7edf3

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        color: #394b50
        font-size: 30px
        font-weight: 800
        text-transform: uppercase
        margin: 0

    &__subtitle
        color: #75888d
        font-size: 18px
        margin-bottom: 85px

    &__items
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 100%

    &__card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        padding-top: 55px
        padding-bottom: 50px
        width: 390/1170*100%
        border: 1px solid #ccd5df
        border-radius: 5px
        background-color: #fff
        margin: 0 2px 0 2px 


        &:hover
            transition: all 0.5s
            transform: scale(1.1)
            cursor: pointer
            color: #ffffff
            background-color: #709dca
            
            .card__title
                color: #ffffff
            
            .card__text
                color: #ffffff
            
            .card__price
                color: #ffffff
            
            .card__period
                color: #ffffff

.card__title
    font-size: 25px
    color: #818b95
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 25px

.card__price
    font-size: 60px
    color: #ffbb42
    font-weight: 800 
    font-family: Lato, sans-serif

.card__period
    font-size: 20px
    color: #818b95
    font-weight: 400
    text-transform: uppercase
    font-family: Lato, sans-serif
    margin-bottom: 35px

.card__text
    text-transform: uppercase
    font-size: 14px
    color: #b5bbc1
    border-top: 1px solid #e2e9f0
    padding-top: 10px
    padding-bottom: 10px
    width: 330px
    text-align: center

.card__button
    text-transform: uppercase
    text-decoration: none
    color: #ffffff
    font-size: 14px
    height: 40px
    width: 130px
    background-color: $buttonColor
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px

    &:hover
        background-color: darken($buttonColor,15% )
        transition: all 0.5s

.how-it-works
    padding-top: 155px
    padding-bottom: 150px

    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column

    &__title
        font-size: 30px
        color: #394b50
        font-weight: 800
        margin: 0
        text-transform: uppercase

    &__subtitle
        color: #75888d
        font-size: 18px
        margin-bottom: 105px

    &__items
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

        // &_arrows
        //     position: absolute
        //     display: flex
        //     flex-direction: column
        //     align-items: center
        //     justify-content: space-between
        //     height: 130px
        //     width: 730/1170*100%
        //     max-width: 1170px
        //     z-index: 1

        //     &__top
        //         display: flex
        //         flex-direction: row
        //         align-items: center
        //         justify-content: space-between
        //         max-width: 730/1170*100%

    &__steps
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        z-index: 1
        width: 100%
        margin-bottom: 95px

        &_card
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            width: 225/1170*100%
            text-align: center

            img 
                margin-bottom: 100px

    &__button
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        border-radius: 5px
        background-color: $buttonColor
        font-size: 14px
        font-family: Lato, sans-serif
        height: 45px
        width: 165px
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background-color: darken($buttonColor,15% )
            transition: all 0.5s

.steps_card_title
    text-transform: uppercase
    color: #394b50
    font-size: 20px
    font-weight: 600
    margin-bottom: 25px


.steps_card_text
    color: #7b7b7b
    font-size: 13px
    margin: 0


.arrows-top
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-around

.happy-clients
    padding-top: 140px
    padding-bottom: 160px
    background-color: #ffc155

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__title
        font-size: 30px
        font-weight: 800
        margin: 0
        text-transform: uppercase
        color: #ffffff

    &__subtitle
        font-size: 16px
        color: #ffffff
        margin-bottom: 60px

    &__items
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
    
    &__row
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &__card
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        width: 570/1170*100%
        background-color: #fff
        padding-top: 45px
        padding-bottom: 55px

        &_text
            width: 360/570*100%

        &_message
            font-size: 13px
            color: #7b7b7b
            margin: 0
            margin-bottom: 30px


            // span 
            //     font-size: 30px

        &_author
            color: #99a9ae
            font-size: 14px
            text-transform: uppercase
            margin: 0

            span 
                color: #f6772c
.row-1
    margin-bottom: 20px

.newsletter
    padding-top: 155px
    padding-bottom: 55px

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        // justify-content: space-between

    &__title
        font-size: 30px
        font-weight: 800
        color: #394b50
        text-transform: uppercase
        margin: 0

    &__subtitle
        font-size: 16px
        color: #394b50
        margin-bottom: 40px

    &__input-block
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 935/1170*100%
        margin-bottom: 50px

        &_name
            max-width: 305px
            width: 260/935*100%
            height: 45px
            padding: 0
            padding-left: 45px
            background-image: url('../img/icon1.png')
            background-repeat: no-repeat
            background-position: left 15px top 50%
            border: 1px solid #cbcbcb
            border-radius: 5px

        &_email
            max-width: 390px
            width: 345/935*100%
            height: 45px
            padding: 0
            padding-left: 45px
            background-image: url('../img/icon2.png')
            background-repeat: no-repeat
            background-position: left 15px top 50%
            border: 1px solid #cbcbcb
            border-radius: 5px

        &_button
            width: 220/935*100%
            max-width: 220px
            height: 47px
            background-color: $buttonColor
            border-radius: 5px
            color: #ffffff
            text-transform: uppercase
            text-decoration: none
            font-size: 14px
            display: flex
            align-items: center
            justify-content: center

            &:hover
                background-color: darken($buttonColor,15% )
                transition: all 0.5s

    &__map-block
        width: 1170px
        background-image: url('../img/doted_map.png')
        background-repeat: no-repeat
        background-size: cover
        padding-top: 40px
        padding-bottom: 220px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column

        &_address-bg
            width: 285px
            height: 298px
            background-image: url('../img/address-bg.png')
            background-repeat: no-repeat
            background-size: cover
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 5px


        &_address-text
            text-align: center
            height: 140px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between

            p   
                margin: 0
                color: #aeb7ba
                font-size: 13px
        
        .map-block__title
            font-size: 15px
            text-transform: uppercase
            color: #ffffff
            margin-bottom: 10px
        
        

        .map-block__email
            font-size: 13px
            color: #ffbb42
            text-decoration: none

.footer 
    padding-top: 70px
    padding-bottom: 55px
    border-top: 1px solid #e3e7ec

    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

    &__nav
        width: 725/1170*100%

        ul
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: row
            width: 100%
        
        li 
            list-style-type: none
        
        .footer__link
            text-decoration: none
            color: #394b50
            font-size: 13px
            text-transform: uppercase
            font-weight: 600
            width: 80px
            height: 35px
            padding: 7px

            &:hover
                color: $buttonColor
                transition: all 0.5s
    &__tel
        margin-bottom: 25px

        &_num
            color: #394b50
            font-size: 23px
            fw700

    &__social
        width: 100/1170*100%

        ul  
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: row
            width: 100%
            padding: 0
            margin: 0

        li 
            list-style-type: none

.copyright  
    padding-top: 15px
    padding-bottom: 15px
    background-color: #709dca

    &__wrap
        display: flex
        align-items: center
        justify-content: center

    &__text
        color: #fff
        font-size: 13px
        margin: 0
